/* ****************** NAVBAR ******************* */
.navbar {
  display: flex;
  height: 100px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}
.nav-brand {
  height: 60px;
  width: 60px;
  background-image: url("../images/paint-splatter.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.navbar-toggler {
  height: 40px;
  width: 40px;
  position: relative;
}
.toggler-div {
  position: absolute;
  height: 3px;
  width: 0;
  border-radius: 2px;
  background: black;
  transition: 0.2s;
}
#toggler-div-1 {
  top: 0px;
}
#toggler-div-2{
  top: 15px;
  /* transition: .4s; */
}
#toggler-div-3{
  top: 30px;
}
.collapsed-nav {
  height: 0px;
  background: var(--dark-purple);
  overflow: hidden;
  transition: .4s;
}
.nav-links {
  padding: 120px 30px;
}
.nav-link {
  margin: 50px 0;

}
.nav-link h2 {
  color: white;
  font-weight: lighter;
}
.services-nav-link {
  display: flex;
  align-items: center;
}
.services-nav-link i {
  color: white;
  margin: 0 0 0 10px;
  transform: rotate(180deg);
  transition: .2s;
}
.drop-down-menu {
  height: 0px;
  overflow: hidden;
  transition: .3s;
}
.drop-down-link {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.drop-down-icon {
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background: var(--light-purple);
  margin: 0 10px 0 0;
}
.drop-down-link h3 {
  color: white;
  font-weight: lighter;
}
