/* ****************  FONTS  **************** */
@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/Gotham-Book.woff') format('woff');
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham Medium';
  src: url('../fonts/Gotham-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/Gotham-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url('../fonts/Gotham-Ultra.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

/* ********** COLORS ******************* */
:root {
  --purple: #5B28B5;
  --light-purple: #ECE1FD;
  --dark-purple: #1D1330;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  font-family: 'Gotham Book';
  font-weight: normal;
  font-style: normal;
}
.purple-title {
  font-size: 1.7rem;
  font-family: "Gotham Ultra";
  color: var(--purple);  
  text-align: center; 
  margin: 0 0 30px 0;
}
.purple-button {
  border: none;
  padding: 20px 40px;
  border-radius: 50px;
  font-family: "Gotham Medium";
  font-size: 18px;
  color: white;
  background: var(--purple);
}
.tilt-left {
  transform: rotate(-1deg);
}
.tilt-right {
  transform: rotate(1deg);
}


/* ****************** NAVBAR ******************* */
.navbar {
    display: flex;
    height: 100px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.nav-brand {
    height: 60px;
    width: 60px;
    background-image: url("../images/paint-splatter.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.navbar-toggler {
    height: 40px;
    width: 40px;
    position: relative;
}
.toggler-div {
    position: absolute;
    height: 3px;
    width: 0;
    border-radius: 2px;
    background: black;
    transition: 0.2s;
}
#toggler-div-1 {
    top: 0px;
}
#toggler-div-2{
    top: 15px;
}
#toggler-div-3{
    top: 30px;
}
.collapsed-nav {
    height: 0px;
    background: var(--dark-purple);
    transition: .4s;
}
.nav-links {
    padding: 120px 30px;
}
.nav-link {
    margin: 50px 0;

}
.nav-link h2 {
    color: white;
    font-weight: lighter;
}
.services-nav-link {
    display: flex;
    cursor: pointer;
    align-items: center;
}
.services-nav-link i {
    color: white;
    margin: 0 0 0 10px;
    transform: rotate(180deg);
    transition: .2s;
}
.drop-down-menu {
    height: 0px;
    overflow: hidden;
    transition: .5s;
}
.drop-down-link {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.drop-down-icon {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: var(--light-purple);
    margin: 0 10px 0 0;
}
.drop-down-link h3 {
    color: white;
    font-weight: lighter;
}
.menu-divider {
  display: none;
}
.logo h3 {
  display: none;
}


/* ****************** HEADING ********************* */

.heading {
    height: 500px;
}
.heading-wrap {
  position: relative;
  width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    z-index: 800;
} 
.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.vector {
width: 100%;
}
.heading-left {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-title {
    text-align: center;
}
.heading-title h1 {
  font-size: 2rem;
}
.heading-text {
  z-index: 1000;
    width: 70%;
    text-align: center;
    margin: 0 0 35px;
}
.heading-text p {
    font-size: 23px;
    line-height: 1.4;
}
.heading-button {
  z-index: 1000;
  width: 100%;
  text-align: center;
  margin: 30px 0 0 0 ;
}
.heading-right {
  display: none;
}

/* ************************ LOVE ****************** */

.love {
    padding: 30px;
}
.love-title {
    text-align: center;
}
.love-item {
    margin: 50px 0;
}
.item-icon {
    height: 60px;
    width: 60px;
    margin: 0 0 15px 0;
    background-color: grey;
    border-radius: 50px;
}
.item-icon-1 {
  background: none;
}
.item-icon-1 img {
   width: 100%;
}
.item-text p {
    font-size: 23px;
    line-height: 1.4;
    margin-top: 10px;
}

/* *************** SERVICES ***************  */
.card-title,
.service-card-text,
.card-button {
  text-align: center;
}
.services {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.services-background {
    position: relative;
  display: flex;
  justify-content: center;
  height: 400px;
  background-image: url("../images/services-background.png");
  background-size: cover;
  width: 90%;
  border-radius: 10px;
}
.services-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 90%;
  height: 90%;
  padding: 30px;
  border: 2px solid black;
  border-radius: 10px;
  background: white;
  box-shadow: 7px 10px;
  transition: .3s;
}
.card-title h2 {
  font-family: 'Gotham Bold';
}
.service-card-text p {
  font-size: 100%;
  line-height: 1.4;
}
.left-card {
    left: -100px;
    opacity: 0;
}
.middle-card {
    opacity: 1;
   left: 5%;
}
.right-card {
  left: 100px;
  opacity: 0;
}
.controls {
  min-width: 320px;
  width: 80%;
}
.selectors {
  display: flex;
  width: 100%;
  margin-top: 190px;
  justify-content: space-between;
}
.services-indicators-div {
  height:8px;
  width: 30%;
  border-radius: 50px;
  background: #EBEBEB;
}
.arrows {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.arrows div {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background: var(--light-purple);
  cursor: pointer;
}
#arrow-left div,
#arrow-right div {
  position: absolute;
  height: 4px;
  background: black;
  border-radius: 50px;
}
#arrow-left-1,
#arrow-left-2,
#arrow-right-1,
#arrow-right-2 {
  width: 20px;
}
#arrow-left-3,
#arrow-right-3 {
  width: 30px;
}

#arrow-left-1 {
  top: 26px;
  left: 14px;
  transform: rotate(-45deg);
  transform-origin: top left;
}
#arrow-left-2 {
  top: 26px;
  left: 14px;
  transform: rotate(45deg);
  transform-origin: bottom left;
}
#arrow-left-3 {
  top: 26px;
  left: 14px;
}
#arrow-right-1 {
  top: 26px;
  right: 14px;
  transform: rotate(-45deg);
  transform-origin: top right;
}
#arrow-right-2 {
  top: 26px;
  right: 14px;
  transform: rotate(45deg);
  transform-origin: bottom right;
}
#arrow-right-3 {
  top: 26px;
  right: 14px;
}
/* ****************  TESTIMONIALS  ********************** */

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonial-cards {
    width: 90%;
    height: 250px;
    position: relative;
  }
  .card-text,
  .card-author {
    text-align: center;
  }
  .testimonial-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    height: 300px;
    width: 90%;
    transition: 0.5s;
  }
  .card-text p {
    line-height: 1.4;
    font-size: 16px;
    font-weight: bold
  }
  .fa-quote-left {
    font-size: 14px;
    transform: translateY(-10px);
  }
  .fa-quote-right {
    font-size: 14px;
    transform: translateY(-3px);
  }
  .card-author p {
    font-size: 14px;
    font-weight: bold;
    color: var(--purple);
  }
  .test-middle {
    transform: translateY(-10px);
    left: 5%;
  }
  .test-left {
    left: -90%;
  }
  .test-right {
    left: 100%;
  }
  .prev-btn div,
  .next-btn div {
    position: absolute;
    height: 4px;
    background: black;
    border-radius: 50px;
  }
  .testimonial-selectors {
    margin-top: 60px;
  }
  .carousel-indicators-div {
    height:8px;
  width: 30%;
  border-radius: 50px;
  background: #EBEBEB;
  }
  .selector-active {
    background: var(--dark-purple);
  }

/* ************* READY ********************* */

.ready {
  margin: 50px 0 -10px 0;
  height: 370px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ready-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1000;
}
.ready-title {
  width: 60%;
}
.ready-button {
  text-align: center;
}
/* .ready-background{
  position: absolute;
  top: 0;
}
.ready-background svg {
  width: 100%;
} */
.ready-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  /* transform: rotate(180deg); */
}

.ready-background svg {
width: 100%;
/* height: 200px; */
}
/* ************* FOOTER ******************* */
.footer {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10%;
  background-color: var(--dark-purple);
}
.footer div {
  margin: 10px 0;
}
.footer h1,
.footer p {
  color: var(--light-purple);
}
.hours-title,
.contact-title,
.social-title {
  margin-bottom: 20px;
}
.footer-logo {
  height: 60px;
  width: 60px;
  background-image: url(../images/footer-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px 0;
}
.hours-content p {
  margin: 20px 0;
}
.contact-div {
  height: 50px;
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
}
.contact-div .footer-icon {
  margin-right: 10px;
}
.social-icons {
  width: 60%;
  max-width: 250px;
  display: flex;
  justify-content: space-between;
}
/* ************************************************************** */
/* ****************  MEDIA QUERIES  ***************************** */
/* ************************************************************** */


/* *******************  TABLET SCREENS **********************  */

@media only screen and (min-width: 600px) {
  .purple-title {
    font-size: 2rem;
  }
  .nav-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
    z-index: 1000;
  }
  .navbar {
    padding: 0;
  }
 .navbar-toggler {
   display: none;
 }
 .collapsed-nav {
   display: flex;
   align-items: center;
   height: 100px;
   background: white;
 }
 .nav-links {
   display: flex;
   padding: 0;
 }
 .nav-link {
   margin: 0 20px;
 }
 .nav-link h2 {
   font-size: 20px;
   font-weight: normal;
   color: var(--dark-purple);
 }

 /* ********  DROP DOWN ********* */
 #services-drop-down {
  position: relative;
 }
 .services-nav-link i {
   color: var(--dark-purple);
  }
  .drop-down-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 62px;
    left: -80px;
    height: 0px;
    width: 260px;
    background-color: white;
    border-radius: 0 0 10px 10px;
  }
  .drop-down-link {
    margin: 10px 0;
  }
  .drop-down-link h3 {
    color: black;
    font-weight: normal;
  }
  .drop-down-icon {
    margin: 10px 10px 10px 0;
  }
  .menu-divider {
    display: block;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.2);
    border: none;
  }
  /* ****************  HEADING ************************ */

  .heading-text {
    z-index: 0;
  }
  /* ******************  SERVICES  ************************* */
  .card-title h2 {
    font-size: 30px;
  }
  .service-card-text p {
    font-size: 20px;
    line-height: 1.6;
  }

  /* *********************  TESTIMONIALS  ******************* */

  .card-text p{
    font-size: 20px;
    line-height: 1.6;
  }
  .card-author p {
    font-size: 16px;
  }
}

/* ********************  LARGE TABLET SCREENS  **************************** */

@media only screen and (min-width: 768px) {

  /* ********* NAVBAR ********* */
  .nav-wrap {
    padding: 0 5%;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo h3 {
    display: block;
  }

  /* ************  HEADING  ******************* */

  .heading {
    height: 600px;
  }
  .heading-wrap {
    display: flex;
    flex-direction: row;
  }
  .heading-left {
    width: 70%;
  }
  .heading-title {
    width: 70%;
  }
  .heading-title h1 {
    text-align: left;
    font-size: 2.6rem;
  }
  .heading-text p {
    text-align: left;
  }
  .heading-button {
    text-align: left;
    width: 70%;
  }
  .heading-right {
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
    z-index: 1000;
  }
  .heading-right img {
    position: absolute;
  }
  .heading-img-1 img {
    left: -90px;
    width: 280px;
  }
  .heading-img-2 img {
    top: 50px;
    left: 200px;
    width: 100px;
  }
  /* ***********************  WHY YOU'LL LOVE US  ******************** */
  .love-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item-icon {
    margin: auto;
  }
  .love-item {
    width: 70%;
    text-align: center;
    margin: 0 0 50px 0;
  }

  /* ******************  SERVICES  ************************* */
  .card-title h2 {
    font-size: 32px;
  }
  .service-card-text p {
    line-height: 1.6;
  }

}

/* *************  DESKTOP SCREENS  **************** */

@media only screen and (min-width: 992px) {

  .purple-title {
    font-size: 2.8rem;
  }

/* ************  NAVBAR  ********************* */
.nav-wrap {
  padding: 0 12%;
}


/* **************  HEADING  ******************** */
  .heading {
    height: 700px;
  }
  .heading-wrap {
    padding-left: 12%;
  }
  .heading-left {
    align-items: flex-start;
  }
  .heading-img-1 img {
    left: -90px;
    width: 330px;
  }
  .heading-img-2 img {
    top: 70px;
    left: 230px;
    width: 110px;
  } 

  /* ***********************  WHY YOU'LL LOVE US  ******************** */
  .love-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .item-icon {
    margin: 10px 0;
  }
  .love-item {
    width: 30%;
    text-align: left;
    margin: 50px;
  }
  /* ******************  SERVICES  ************************* */
  .services {
    height: 800px;
    padding: 0px 100px;
  }
  .services-title {
    margin-bottom: 50px;
  }
  .services-wrap {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }
  .services-background {
    width: 350px;
    height: 495px
  }
  .services-card {
    top: 100px;
    width: 500px;
    height: 300px;
  }
  .middle-card {
    left: 70%;
  }
  .right-card {
    left: 400px;
  }
  .left-card {
    left: 120px;
  }
  .card-title h2 {
    font-size: 25px;
    text-align: left;
  }
  .service-card-text p {
    font-size: 18px;
    text-align: left;
  }
  .card-button {
    text-align: left;
  }
  .selectors {
    width: 200px;
    margin: 0 auto -55px;
  }
  .controls {
    width: 350px;
    margin: 0 30px 0;
  }

  /* ********************  TESTIMONIALS  ************************ */
  .testimonial-cards {
    height: 350px;
    width: 60%;
    margin-top: 50px;
  }
}


/* *****************  LARGE DESKTOP SCREENS  ************************ */
@media only screen and (min-width: 1200px) {

  .services-background {
    width: 400px;
    height: 550px
  }
  .services-card {
    top: 150px;
    width: 550px;
    height: 300px;
  }
  .middle-card {
    left: 70%;
  }
  .right-card {
    left: 450px;
  }
}
/* *****************  EXTRA LARGE DESKTOP SCREENS  ************************ */
@media only screen and (min-width: 1450px) {

  .services {
    height: 900px;
  }
  .services-background {
    width: 500px;
    height: 650px
  }
  .services-card {
    top: 200px;
    width: 650px;
    height: 350px;
  }
  .middle-card {
    left: 60%;
  }
  .right-card {
    left: 450px;
  }
  .card-title h2 {
    font-size: 30px;
  }
  .service-card-text p {
    font-size: 22px;
  }
}