* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Gotham Book';
  font-weight: normal;
  font-style: normal;
}

/* ****************  FONTS  **************** */
@font-face {
  font-family: 'Gotham Book';
  src: url("../fonts/Gotham-Book.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Medium';
  src: url("../fonts/Gotham-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url("../fonts/Gotham-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url("../fonts/Gotham-Ultra.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

.purple-title {
  font-family: "Gotham Ultra";
  color: #5B28B5;
  text-align: center;
  margin: 0 0 30px 0;
  font-size: 2.1rem;
}

@media only screen and (min-width: 600px) {
  .purple-title {
    font-size: 2.9rem;
  }
}

@media only screen and (min-width: 992px) {
  .purple-title {
    font-size: 3.3rem;
  }
}

.font-medium {
  font-family: "Gotham Medium";
}

a {
  text-decoration: none;
}

.services {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services .services-title {
  transform: rotate(-1deg);
}

.services .services-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.services .services-wrap .services-background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 400px;
  margin-bottom: 170px;
  background-image: url("../images/home/services-background.png");
  background-size: cover;
  width: 90%;
  border-radius: 10px;
}

.services .services-wrap .services-background .services-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 90%;
  height: 90%;
  padding: 30px;
  border: 2px solid black;
  border-radius: 10px;
  background: white;
  box-shadow: 7px 10px black;
  transition: .3s;
}

.services .services-wrap .services-background .services-card .card-title,
.services .services-wrap .services-background .services-card .service-card-text,
.services .services-wrap .services-background .services-card .card-button {
  text-align: center;
}

.services .services-wrap .services-background .services-card .card-title h2 {
  font-family: 'Gotham Bold';
  color: #1D1330;
  font-size: 22px;
}

@media only screen and (min-width: 600px) {
  .services .services-wrap .services-background .services-card .card-title h2 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .services .services-wrap .services-background .services-card .card-title h2 {
    font-size: 32px;
  }
}

.services .services-wrap .services-background .services-card .service-card-text p {
  font-size: 16px;
  line-height: 1.4;
}

@media only screen and (min-width: 500px) {
  .services .services-wrap .services-background .services-card .service-card-text p {
    font-size: 18px;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 600px) {
  .services .services-wrap .services-background .services-card .service-card-text p {
    font-size: 20px;
    line-height: 1.6;
  }
}

@media only screen and (min-width: 768px) {
  .services .services-wrap .services-background .services-card .service-card-text p {
    font-size: 22px;
    line-height: 1.8;
  }
}

.services .services-wrap .services-background .left-card {
  left: -100px;
  opacity: 0;
}

.services .services-wrap .services-background .middle-card {
  opacity: 1;
  left: 5%;
}

.services .services-wrap .services-background .right-card {
  left: 100px;
  opacity: 0;
}

@media only screen and (min-width: 992px) {
  .services {
    height: 800px;
    padding: 0px 100px;
  }
  .services .services-title {
    margin-bottom: 50px;
  }
  .services .services-wrap {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }
  .services .services-wrap .services-background {
    width: 350px;
    height: 495px;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 992px) and (min-width: 1200px) {
  .services .services-wrap .services-background {
    width: 500px;
    height: 650px;
  }
}

@media only screen and (min-width: 992px) {
  .services .services-wrap .services-background .services-card {
    top: 100px;
    width: 550px;
    height: 300px;
    align-items: flex-start;
    padding: 30px 40px 20px 60px;
  }
}

@media only screen and (min-width: 992px) and (min-width: 1200px) {
  .services .services-wrap .services-background .services-card {
    top: 170px;
    width: 600px;
    height: 350px;
  }
}

@media only screen and (min-width: 992px) {
  .services .services-wrap .services-background .services-card .card-title h2 {
    font-size: 30px;
  }
  .services .services-wrap .services-background .services-card .service-card-text p {
    font-size: 18px;
    text-align: left;
    line-height: 1.4;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) and (min-width: 1200px) {
  .services .services-wrap .services-background .services-card .service-card-text p {
    font-size: 22px;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 992px) {
  .services .services-wrap .services-background .services-card .card-button {
    text-align: left;
  }
  .services .services-wrap .services-background .middle-card {
    left: 70%;
  }
  .services .services-wrap .services-background .right-card {
    left: 400px;
  }
  .services .services-wrap .services-background .left-card {
    left: 120px;
  }
}

.purple-button {
  border: none;
  padding: 20px 40px;
  border-radius: 50px;
  font-family: "Gotham Medium";
  font-size: 18px;
  color: white;
  background: #5B28B5;
  cursor: pointer;
}

.controls {
  min-width: 320px;
  max-width: 400px;
  width: 80%;
  margin: 30px auto;
}

@media only screen and (min-width: 768px) {
  .controls {
    width: 400px;
    margin: 30px 30px 0;
  }
}

.controls .selectors {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .controls .selectors {
    width: 250px;
    margin: 20px auto -55px;
  }
}

.controls .selectors div {
  height: 8px;
  width: 30%;
  border-radius: 50px;
  background: #EBEBEB;
  margin: 0 3px;
}

.controls .selectors .selector-active {
  background-color: #1D1330;
}

.controls .arrows {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.controls .arrows .arrow-left,
.controls .arrows .arrow-right {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  background: #ECE1FD;
  cursor: pointer;
}

.controls .arrows .arrow-left div,
.controls .arrows .arrow-right div {
  position: absolute;
  height: 4px;
  background: black;
  border-radius: 50px;
}

.controls .arrows .arrow-left .arrow-left-1,
.controls .arrows .arrow-left .arrow-left-2,
.controls .arrows .arrow-left .arrow-right-1,
.controls .arrows .arrow-left .arrow-right-2,
.controls .arrows .arrow-right .arrow-left-1,
.controls .arrows .arrow-right .arrow-left-2,
.controls .arrows .arrow-right .arrow-right-1,
.controls .arrows .arrow-right .arrow-right-2 {
  width: 20px;
}

.controls .arrows .arrow-left .arrow-left-3,
.controls .arrows .arrow-left .arrow-right-3,
.controls .arrows .arrow-right .arrow-left-3,
.controls .arrows .arrow-right .arrow-right-3 {
  width: 30px;
}

.controls .arrows .arrow-left .arrow-left-1,
.controls .arrows .arrow-right .arrow-left-1 {
  top: 27px;
  left: 14px;
  transform: rotate(-45deg);
  transform-origin: top left;
}

.controls .arrows .arrow-left .arrow-left-2,
.controls .arrows .arrow-right .arrow-left-2 {
  top: 25px;
  left: 14px;
  transform: rotate(45deg);
  transform-origin: bottom left;
}

.controls .arrows .arrow-left .arrow-left-3,
.controls .arrows .arrow-right .arrow-left-3 {
  top: 26px;
  left: 15px;
}

.controls .arrows .arrow-left .arrow-right-1,
.controls .arrows .arrow-right .arrow-right-1 {
  top: 26px;
  right: 14px;
  transform: rotate(-45deg);
  transform-origin: top right;
}

.controls .arrows .arrow-left .arrow-right-2,
.controls .arrows .arrow-right .arrow-right-2 {
  top: 26px;
  right: 14px;
  transform: rotate(45deg);
  transform-origin: bottom right;
}

.controls .arrows .arrow-left .arrow-right-3,
.controls .arrows .arrow-right .arrow-right-3 {
  top: 26px;
  right: 14px;
}

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials .testimonials-title {
  transform: rotate(1deg);
  margin: 150px 0 50px;
}

.testimonials .testimonial-cards {
  width: 90%;
  height: 250px;
  margin-bottom: 55px;
  position: relative;
}

.testimonials .testimonial-cards .testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  height: 300px;
  width: 90%;
  transition: 0.5s;
}

@media only screen and (min-width: 992px) {
  .testimonials .testimonial-cards .testimonial-card {
    width: 60%;
  }
}

.testimonials .testimonial-cards .testimonial-card .card-text,
.testimonials .testimonial-cards .testimonial-card .card-author {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .testimonials .testimonial-cards .testimonial-card .card-title h3 {
    font-size: 25px;
  }
}

.testimonials .testimonial-cards .testimonial-card .card-text p {
  line-height: 1.4;
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .testimonials .testimonial-cards .testimonial-card .card-text p {
    font-size: 20px;
    line-height: 1.6;
  }
}

.testimonials .testimonial-cards .testimonial-card .fa-quote-left {
  font-size: 14px;
  transform: translateY(-10px);
}

.testimonials .testimonial-cards .testimonial-card .fa-quote-right {
  font-size: 14px;
  transform: translateY(-3px);
}

.testimonials .testimonial-cards .testimonial-card .card-author p {
  font-size: 14px;
  font-weight: bold;
  color: #5B28B5;
}

@media only screen and (min-width: 600px) {
  .testimonials .testimonial-cards .testimonial-card .card-author p {
    font-size: 18px;
  }
}

.testimonials .testimonial-cards .test-middle {
  transform: translateY(-10px);
  left: 5%;
}

@media only screen and (min-width: 992px) {
  .testimonials .testimonial-cards .test-middle {
    left: 20%;
  }
}

.testimonials .testimonial-cards .test-left {
  left: -90%;
}

@media only screen and (min-width: 992px) {
  .testimonials .testimonial-cards .test-left {
    left: -50%;
  }
}

.testimonials .testimonial-cards .test-right {
  left: 100%;
}

@media only screen and (min-width: 992px) {
  .testimonials .testimonial-cards .test-right {
    left: 90%;
  }
}

.drop-down-arrow {
  position: relative;
  height: 15px;
  width: 20px;
  margin: 5px;
  transition: .4s;
}

.drop-down-arrow div {
  height: 2px;
  width: 10px;
  background-color: white;
  position: absolute;
  border-radius: 50px;
}

@media only screen and (min-width: 600px) {
  .drop-down-arrow div {
    background-color: #1D1330;
  }
}

.drop-down-arrow .drop-down-arrow-1 {
  left: 2px;
  top: 5px;
  transform: rotate(40deg);
  transform-origin: top left;
}

.drop-down-arrow .drop-down-arrow-2 {
  transform: rotate(-40deg);
  transform-origin: top right;
  top: 5px;
  left: 5px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 20px;
}

.navbar .logo .nav-brand {
  height: 60px;
  width: 60px;
}

.navbar .logo .nav-brand img {
  width: 100%;
}

.navbar .logo h3 {
  display: none;
}

.navbar .navbar-toggler {
  height: 40px;
  width: 40px;
  position: relative;
}

.navbar .navbar-toggler .toggler-div {
  position: absolute;
  height: 3px;
  width: 0;
  border-radius: 2px;
  background: black;
  transition: 0.2s;
}

.navbar .navbar-toggler #toggler-div-1 {
  top: 0px;
}

.navbar .navbar-toggler #toggler-div-2 {
  top: 15px;
}

.navbar .navbar-toggler #toggler-div-3 {
  top: 30px;
}

.collapsed-nav {
  height: 0px;
  background: #1D1330;
  transition: .4s;
  overflow: hidden;
}

.collapsed-nav .nav-links {
  padding: 120px 30px;
}

.collapsed-nav .nav-links .nav-link {
  margin: 50px 0;
  cursor: pointer;
}

.collapsed-nav .nav-links .nav-link a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

.collapsed-nav .nav-links .nav-link .services-nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  justify-content: start;
}

.collapsed-nav .nav-links .nav-link .services-nav-link i {
  color: white;
  margin: 0 0 0 10px;
  transform: rotate(180deg);
  transition: .2s;
}

.collapsed-nav .nav-links .nav-link .drop-down-menu {
  position: relative;
  height: 0px;
  overflow: hidden;
  transition: .5s;
  z-index: 1000;
}

.collapsed-nav .nav-links .nav-link .drop-down-menu .menu-divider {
  display: none;
}

.collapsed-nav .nav-links .nav-link .drop-down-menu .drop-down-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;
  cursor: pointer;
}

.collapsed-nav .nav-links .nav-link .drop-down-menu .drop-down-link:hover .icon-inner {
  transform: rotateX(180deg);
}

.collapsed-nav .nav-links .nav-link .drop-down-menu .drop-down-link h3 {
  color: white;
  font-weight: lighter;
}

.collapsed-nav .nav-links .nav-link .drop-down-menu .drop-down-link .drop-down-icon {
  height: 30px;
  width: 30px;
  margin: 0 10px 0 0;
  transition: .3s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.collapsed-nav .nav-links .nav-link .drop-down-menu .drop-down-link .drop-down-icon .icon-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.collapsed-nav .nav-links .nav-link .drop-down-menu .drop-down-link .drop-down-icon .icon-inner .icon-front, .collapsed-nav .nav-links .nav-link .drop-down-menu .drop-down-link .drop-down-icon .icon-inner .icon-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.collapsed-nav .nav-links .nav-link .drop-down-menu .drop-down-link .drop-down-icon .icon-inner .icon-front {
  background: #ECE1FD;
  border-radius: 50px;
}

.collapsed-nav .nav-links .nav-link .drop-down-menu .drop-down-link .drop-down-icon .icon-inner .icon-back {
  background-color: #5B28B5;
  border-radius: 50px;
  transform: rotateX(180deg);
}

@media only screen and (min-width: 600px) {
  .current-page {
    position: relative;
    border-bottom: 3px solid #5B28B5;
    font-family: "Gotham Medium";
  }
  .nav-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
  }
  .nav-wrap .purple-title {
    font-size: 2.3rem;
  }
  .nav-wrap .navbar {
    padding: 0;
  }
  .nav-wrap .navbar .navbar-toggler {
    display: none;
  }
  .nav-wrap .collapsed-nav {
    display: flex;
    align-items: center;
    height: 100px;
    background: white;
    overflow: visible;
  }
  .nav-wrap .collapsed-nav .nav-links {
    display: flex;
    padding: 0;
    /* ********  DROP DOWN ********* */
  }
  .nav-wrap .collapsed-nav .nav-links .nav-link {
    margin: 0 20px;
    position: relative;
    z-index: 1000;
  }
}

@media only screen and (min-width: 600px) and (min-width: 1200px) {
  .nav-wrap .collapsed-nav .nav-links .nav-link {
    margin: 0 40px;
  }
}

@media only screen and (min-width: 600px) {
  .nav-wrap .collapsed-nav .nav-links .nav-link a {
    font-size: 20px;
    font-weight: normal;
    color: var(--dark-purple);
  }
  .nav-wrap .collapsed-nav .nav-links #services-drop-down {
    position: relative;
  }
  .nav-wrap .collapsed-nav .nav-links #services-drop-down i {
    color: #1D1330;
  }
  .nav-wrap .collapsed-nav .nav-links #services-drop-down .drop-down-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 31px;
    left: -130px;
    height: 0px;
    width: 360px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    z-index: 999;
  }
  .nav-wrap .collapsed-nav .nav-links #services-drop-down .drop-down-menu .drop-down-link-wrap {
    width: 80%;
  }
  .nav-wrap .collapsed-nav .nav-links #services-drop-down .drop-down-menu .drop-down-link-wrap .drop-down-link {
    margin: 10px 0;
  }
  .nav-wrap .collapsed-nav .nav-links #services-drop-down .drop-down-menu .drop-down-link-wrap .drop-down-link .drop-down-icon {
    margin: 10px 10px 10px 0;
  }
  .nav-wrap .collapsed-nav .nav-links #services-drop-down .drop-down-menu .drop-down-link-wrap .drop-down-link h3 {
    color: black;
    font-weight: normal;
  }
  .nav-wrap .collapsed-nav .nav-links #services-drop-down .drop-down-menu .drop-down-link-wrap .menu-divider {
    display: block;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.2);
    border: none;
  }
  .nav-wrap .collapsed-nav .nav-links #services-drop-down:hover .drop-down-menu {
    height: 250px;
  }
}

@media only screen and (min-width: 768px) {
  .nav-wrap {
    padding: 0 5%;
  }
  .nav-wrap .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .nav-wrap .logo h3 {
    display: block;
  }
}

@media only screen and (min-width: 992px) {
  .nav-wrap {
    padding: 0 12%;
  }
}

.footer {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10%;
  background-color: #1D1330;
}

.footer h1, .footer p {
  color: #ECE1FD;
  margin: 20px 10px;
}

.footer .footer-logo {
  height: 60px;
  width: 60px;
  background-image: url(../images/footer/footer-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px 0;
}

.footer .contact-div {
  height: 50px;
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
}

.footer .social-icons {
  width: 60%;
  max-width: 250px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 600px) {
  .footer {
    height: 650px;
    align-items: center;
  }
  .footer p {
    margin: 10px 10px;
    text-align: center;
  }
  .footer .footer-logo {
    margin: 10px auto;
  }
  .footer .footer-title {
    text-align: center;
  }
  .footer .contact-div {
    height: 80px;
    flex-direction: column;
  }
  .footer .social-content {
    width: 200px;
  }
  .footer .social-icons {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 100px 5%;
    height: 400px;
    flex-direction: row;
    align-items: flex-start;
  }
  .footer .footer-section:first-child {
    transform: translateY(-62px);
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) {
  .footer .footer-section:first-child {
    display: flex;
    transform: translateY(0px);
  }
}

@media only screen and (min-width: 768px) {
  .footer p {
    text-align: left;
  }
  .footer .footer-logo {
    margin: 0;
  }
  .footer .footer-hours {
    display: flex;
  }
  .footer .contact-div {
    height: 50px;
    flex-direction: row;
  }
}

.heading {
  height: 600px;
  position: relative;
  z-index: 800;
}

.heading .heading-wrap {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.heading .heading-wrap .wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.heading .heading-wrap .wave .vector {
  width: 100%;
}

.heading .heading-wrap .heading-left {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading .heading-wrap .heading-left .heading-title {
  text-align: center;
  transform: rotate(-1deg);
}

.heading .heading-wrap .heading-left .heading-title h1 {
  font-size: 2.3rem;
}

@media only screen and (min-width: 600px) {
  .heading .heading-wrap .heading-left .heading-title h1 {
    font-size: 3rem;
  }
}

.heading .heading-wrap .heading-left .heading-text {
  width: 70%;
  text-align: center;
  margin: 0 0 35px;
}

.heading .heading-wrap .heading-left .heading-text h4 {
  font-size: 23px;
  line-height: 1.4;
}

.heading .heading-wrap .heading-left .heading-button {
  width: 100%;
  text-align: center;
  margin: 30px 0 0 0;
}

.heading .heading-wrap .heading-right {
  display: none;
}

@media only screen and (min-width: 768px) {
  .heading {
    height: 600px;
  }
  .heading .heading-wrap {
    display: flex;
    flex-direction: row;
  }
  .heading .heading-wrap .heading-left {
    width: 70%;
  }
  .heading .heading-wrap .heading-left .heading-title {
    width: 70%;
  }
  .heading .heading-wrap .heading-left .heading-title h1 {
    text-align: left;
    font-size: 3rem;
  }
  .heading .heading-wrap .heading-left .heading-text p {
    text-align: left;
  }
  .heading .heading-wrap .heading-left .heading-button {
    text-align: left;
    width: 70%;
  }
  .heading .heading-wrap .heading-right {
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
  }
  .heading .heading-wrap .heading-right img {
    position: absolute;
  }
  .heading .heading-wrap .heading-right .heading-img-1 img {
    left: -90px;
    width: 280px;
  }
  .heading .heading-wrap .heading-right .heading-img-2 img {
    top: 50px;
    left: 200px;
    width: 100px;
  }
}

@media only screen and (min-width: 992px) {
  .heading {
    height: 700px;
  }
  .heading .heading-wrap {
    padding-left: 12%;
  }
  .heading .heading-wrap .heading-left {
    align-items: flex-start;
  }
  .heading .heading-wrap .heading-left .heading-title {
    width: 100%;
  }
  .heading .heading-wrap .heading-left .heading-title h1 {
    font-size: 3.4rem;
  }
  .heading .heading-wrap .heading-right .heading-img-1 img {
    left: -140px;
    width: 330px;
  }
  .heading .heading-wrap .heading-right .heading-img-2 img {
    top: 70px;
    left: 220px;
    width: 120px;
  }
}

.love {
  padding: 30px;
}

.love .love-title {
  text-align: center;
  transform: rotate(1deg);
}

.love .love-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.love .love-items .love-item {
  margin: 50px 0;
}

@media only screen and (min-width: 600px) {
  .love .love-items .love-item {
    max-width: 500px;
    text-align: center;
    margin: 0 0 50px 0;
  }
}

.love .love-items .love-item .item-icon {
  height: 60px;
  width: 60px;
  margin: 0 0 15px 0;
  background-color: grey;
  border-radius: 50px;
}

@media only screen and (min-width: 600px) {
  .love .love-items .love-item .item-icon {
    margin: auto;
  }
}

.love .love-items .love-item .item-icon-1 {
  background: none;
}

.love .love-items .love-item .item-icon img {
  width: 100%;
}

.love .love-items .love-item .item-text p {
  font-size: 23px;
  line-height: 1.4;
  margin-top: 10px;
}

@media only screen and (min-width: 992px) {
  .love {
    padding: 50px 11%;
    height: 600px;
  }
  .love .love-title {
    margin-bottom: 100px;
  }
  .love .love-items {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .love .love-items .love-item {
    width: 30%;
    text-align: left;
  }
  .love .love-items .love-item .item-icon {
    margin: 10px 0;
  }
}

.ready {
  margin: 50px 0 -10px 0;
  height: 370px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ready .ready-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1000;
}

.ready .ready-div .ready-title {
  width: 60%;
}

.ready .ready-div .ready-button {
  text-align: center;
}

.ready .ready-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.ready .ready-background svg {
  width: 100%;
}

.services-header {
  height: 500px;
}

.services-header-text {
  background-color: #ECE1FD;
  padding: 20px;
  position: relative;
}

.services-header-text-title {
  transform: rotate(-1deg);
}

.services-header-image {
  display: none;
}

.about-heading {
  position: relative;
  z-index: 900;
}

.about-heading-img {
  position: relative;
  height: 400px;
  width: 80%;
  margin: 50px auto;
  border-radius: 15px;
  box-shadow: 13px 13px #ECE1FD;
  background-color: #1D1330;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-heading-text {
  padding: 15px;
}

@media only screen and (min-width: 600px) {
  .about-heading-text {
    padding: 30px 10%;
  }
}

.about-heading-text-title h2 {
  transform: rotate(-1deg);
  text-align: left;
  margin-bottom: 10px;
}

.about-heading-text p {
  font-size: 25px;
  line-height: 1.4;
}

@media only screen and (min-width: 992px) {
  .about-heading {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .about-heading-img {
    width: 40%;
    max-width: 400px;
    height: 800px;
    margin: 0 20px;
  }
  .about-heading-text {
    width: 55%;
    max-width: 552px;
    padding: 0;
    margin: 0 20px;
  }
  .about-heading-text-title h2 {
    font-size: 50px;
  }
}

.instagram {
  height: 475px;
  margin: 80px 0 30px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instagram .instagram-title h2 {
  font-size: 28px;
  color: #5B28B5;
  transform: rotate(1deg);
}

.instagram .instagram-text {
  margin: 20px 0;
  width: 100%;
  max-width: 992px;
}

.instagram .instagram-text p {
  font-size: 25px;
  margin-top: 30px;
}

.instagram .instagram-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 100%;
}

.instagram .instagram-carousel-inner {
  position: relative;
  overflow: hidden;
  height: 150px;
  width: 100%;
  max-width: 992px;
}

.instagram .instagram-carousel-inner .instagram-carousel-items {
  left: 0px;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  transition: .4s;
}

.instagram .instagram-carousel-inner .instagram-carousel-items-item {
  height: 100%;
  width: 150px;
  margin: 0 10px;
  background-size: cover;
  border-radius: 10px;
}

.instagram .instagram-carousel-inner .instagram-carousel-items-item img {
  width: 100%;
  object-fit: cover;
}

.instagram .instagram-carousel-inner .instagram-carousel-items-item:first-child {
  margin-left: 0;
}

@media only screen and (min-width: 600px) {
  .instagram {
    padding: 0 10%;
  }
}

@media only screen and (min-width: 768px) {
  .instagram {
    height: 600px;
    padding: 0 10%;
  }
  .instagram .instagram-title h2 {
    font-size: 32px;
  }
  .instagram .instagram-title h2 br {
    display: none;
  }
  .instagram .instagram-carousel {
    height: 330px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1200px) {
  .instagram .instagram-carousel {
    height: 380px;
  }
}

@media only screen and (min-width: 768px) {
  .instagram .instagram-carousel-inner {
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
  }
  .instagram .instagram-carousel-inner .instagram-carousel-items-item {
    min-width: 250px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1200px) {
  .instagram .instagram-carousel-inner .instagram-carousel-items-item {
    min-width: 300px;
  }
}

.gallery-grid {
  width: 95%;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 50px auto;
}

.gallery-grid .column {
  flex: 43%;
  margin: 0 5px;
}

@media only screen and (min-width: 768px) {
  .gallery-grid .column {
    flex: 30%;
    margin: 0 10px;
  }
}

.gallery-grid .column-item {
  background: grey;
  margin-top: 5px;
  border-radius: 10px;
  background-size: cover;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .gallery-grid .column-item {
    margin-top: 20px;
  }
}

.gallery-grid .column .gallery-xs {
  height: 100px;
}

.gallery-grid .column .gallery-s {
  height: 150px;
}

.gallery-grid .column .gallery-m {
  height: 200px;
}

.gallery-grid .column .gallery-l {
  height: 300px;
}

.gallery-grid .column .gallery-xl {
  height: 400px;
}

@media only screen and (min-width: 600px) {
  .gallery-grid .column .gallery-xs {
    height: 200px;
  }
  .gallery-grid .column .gallery-s {
    height: 250px;
  }
  .gallery-grid .column .gallery-m {
    height: 300px;
  }
  .gallery-grid .column .gallery-l {
    height: 400px;
  }
  .gallery-grid .column .gallery-xl {
    height: 500px;
  }
}

@media only screen and (min-width: 600px) {
  .gallery-grid .column .gallery-xs {
    height: 200px;
  }
  .gallery-grid .column .gallery-s {
    height: 250px;
  }
  .gallery-grid .column .gallery-m {
    height: 300px;
  }
  .gallery-grid .column .gallery-l {
    height: 400px;
  }
  .gallery-grid .column .gallery-xl {
    height: 500px;
  }
}

.modal {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(166, 166, 166, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1100;
  display: none;
}

.modal .modal-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 4vw;
  max-width: 900px;
  max-height: 85vh;
}

.modal .modal-img .modal-close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #ECE1FD;
  cursor: pointer;
}

.modal .modal-img .modal-close-btn-div {
  position: absolute;
  top: 22px;
  left: 8px;
  height: 4px;
  width: 35px;
  background-color: #1D1330;
  transform: rotate(45deg);
}

.modal .modal-img .modal-close-btn-div:last-child {
  transform: rotate(-45deg);
}

.modal .modal-img img {
  width: 100%;
  max-height: 85vh;
  border-radius: 20px;
  object-fit: cover;
  opacity: 0;
  transition: .5s;
  border: 3px solid black;
  box-shadow: 7px 10px #1D1330;
}
