.love {
    padding: 30px;

    .love-title {
        text-align: center;
        @include tilt_right
        
    }
    .love-items {
        @include flex_centered(column);

        .love-item {
            margin: 50px 0;
            @include responsive($tablet){
                max-width: 500px;
                text-align: center;
                margin: 0 0 50px 0;
            }
    
            .item-icon {
                height: 60px;
                width: 60px;
                margin: 0 0 15px 0;
                background-color: grey;
                border-radius: 50px;
                @include responsive($tablet){
                    margin: auto;
                }
            }
            .item-icon-1 {
              background: none;
            }
            .item-icon img {
               width: 100%;
            }
            .item-text p {
                font-size: 23px;
                line-height: 1.4;
                margin-top: 10px;
            }
        }
    }
}

@include responsive($desktop){
    
    .love {
        padding: 50px 11%;
        height: 600px;

        .love-title {
            margin-bottom: 100px;
        }
        .love-items {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

            .love-item {
                width: 30%;
                text-align: left;

                .item-icon {
                    margin: 10px 0;
                }
            }
        }
    }
}
