.purple-button {
    border: none;
    padding: 20px 40px;
    border-radius: 50px;
    font-family: "Gotham Medium";
    font-size: 18px;
    color: white;
    background: $purple;
    cursor: pointer;
}
