.instagram {
    height: 475px;
    margin: 80px 0 30px;
    padding: 15px;
    @include flex_centered(column);

    .instagram-title h2 {
        font-size: 28px;
        color: $purple;
        @include tilt_right;
    }
    .instagram-text {
        margin: 20px 0;
        width: 95%;
        max-width: 992px;
        p {
        font-size: 25px;
        margin-top: 30px;
        }
    }
    .instagram-carousel {
        @include flex_centered(column);
        height: 330px;
        width: 100%;
        
        &-inner {
            position: relative;
            overflow: hidden;
            height: 150px;
            width: 88%;
            
            .instagram-carousel-items {
                left: 0px;
                height: 100%;
                position: absolute;
                @include flex_centered(row);
                justify-content: space-between;
                transition: .4s;

                &-item {
                    height: 100%;
                   width: 150px;
                    margin: 0 10px;
                    background-size: cover;
                    border-radius: 10px;

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
                &-item:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

@include responsive($tablet_large) {
    .instagram {
        height: 600px;
        padding: 0 10%;
    
        .instagram-title h2 {
            font-size: 32px;

            br {
                display: none;
            }
        }
        .instagram-carousel {
            height: 330px;
            @include responsive($desktop_large){
                height: 380px;
            }
            
            &-inner {
                height: 100%;
                width: 100%;
                margin-bottom: 30px;
                
                .instagram-carousel-items-item{
                    min-width: 250px;        
                    @include responsive($desktop_large) {
                        min-width: 300px;
                    }          
                }
            }
        }
    }
}

